<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Data Fateched From Database</h1>
    <%- include('menu')%><br>

    <%= mydata.length %> Records Found
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Details</th>
        </tr>
        <% for(var i=0;i<mydata.length;i++){ %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= mydata[i].uname %></td>
<td><%= mydata[i].uprice %></td>
<td><%= mydata[i].udetails %></td>
</tr>
<% } %>
</table>
</body>
</html>